@import './../../../../assets/style/main.scss';

.location_header {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
  margin-bottom: 44px;

  h1 {
    font-size: 48px;
    color: white;
    font-weight: 400;
  }
}
.location_header_btn {
  button {
    padding: 0;
    border: none;
    background-color: transparent;

    &:first-child {
      margin-right: 30px;
    }
    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }
  }
}

.location_slider {
  display: flex;
}

.location_item_cover:hover {
  &:hover {
    transform: scale(1.05);
    img {
      opacity: 0.3;
    }
  }

  button {
    display: block;
    z-index: 1;
    text-transform: uppercase;
    font-size: 17px;
    color: white;
    letter-spacing: 1px;

    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }
  }
}

.location_item {
  max-width: 410px;
  position: relative;

  img {
    width: 410px;
    height: 463px;
    object-fit: cover;
  }

  button {
    width: 234px;
    height: 59px;
    background-color: $color-hover;
    border: none;
    position: absolute;
    left: 88px;
    top: 202px;
    display: none;
  }
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.location_item_text_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;
  color: white;

  h2 {
    font-size: 28px;
    font-weight: 600;
  }

  p {
    font-size: 20px;
  }
}

.text_top_rating {
  display: flex;
  align-items: center;

  svg {
    margin-right: 6px;
  }
}

.location_item_text_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 9px;

  h2 {
    font-size: 20px;
    color: $txt-light;
    font-weight: normal;
    text-transform: uppercase;
  }

  p {
    font-size: 20px;
    color: $txt-light;
    span {
      color: white;
    }
  }
}
