@import 'mormalize';
@import 'vars';

body {
  font-family: $text;
  font-size: $text-size;
}
* {
  box-sizing: border-box;
}
h1,
h2,
h4,
ul,
li,
p {
  margin: 0;
  padding: 0;
}
h1,
h3 {
  font-family: $title;
}
a {
  color: black;
  text-decoration: none;
  font-family: $text;
}
li {
  list-style-type: none;
  font-family: $text;
}
.container {
  max-width: 1290px;
  width: 100%;
  margin: 0 auto;
}
