@import './../../../assets/style/main.scss';

.footer_contact {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;

  p {
    color: $txt-light;
    font-size: 24px;
    font-weight: 400;
  }

  a {
    color: white;
    font-size: 22px;
    font-weight: 600;
  }

  form {
    position: relative;

    input {
      height: 72px;
      width: 410px;
      background-color: transparent;
      border: 2px solid $color-light;
      font-size: 20px;
      padding-left: 25px;
    }

    input::placeholder {
      color: $txt-light;
    }
  }
}

.subscribe_form__btn {
  height: 60px;
  width: 147px;
  position: absolute;
  right: 4px;
  top: 6px;
  bottom: 6px;
  background-color: $color-light;
  border: none;
  color: white;
  font-size: 17px;
  text-transform: uppercase;
}

.subscribe_form__btn:hover {
  background-color: $color-hover;
}

.footer_bottom {
  background-color: $color-midle;
}

.footer_bottom_content {
  height: 127px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_bottom_allrights a {
  font-size: 20px;
  color: $txt-light;
  padding-right: 2px;
}

.footer_bottom_allrights a:hover {
  color: white;
}

.footer_bottom_social a:not(:last-child) {
  padding-right: 10px;
}

.footer_bottom_social a:hover > svg rect {
  fill: $color-hover;
}
