.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_nav {
  color: white;
  display: flex;

  a {
    color: white;
  }

  a:not(:last-child) {
    margin-right: 42px;
  }
}
