@import './../../../assets/style/main.scss';

.wrapper {
  background-color: $main-color;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%; // or 100%
  overflow: hidden; // Для избежания горизонтального скролла
}
