@import './../../../../assets/style/main.scss';

.benefits {
  display: flex;
  height: 524px;
}

.benefits_video {
  position: relative;
}

.benefits_video:hover {
  opacity: 0.6;
  .benefits_video_small_btn {
    display: block;
  }
  .benefits_video_small_btn:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}

.benefits_video_small_btn {
  position: absolute;
  top: 232px;
  left: 228px;
  display: none;
}

.benefits_video_cover {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.benefits_text {
  background-color: $color-midle;
  height: 524px;
  padding-top: 100px;
  padding-left: 84px;
  padding-right: 84px;

  h1 {
    margin-bottom: 40px;
    font-size: 46px;
    color: white;
    font-weight: 400;
  }

  h2 {
    color: white;
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 500;
  }

  p {
    color: $txt-light;
    font-size: 20px;
  }
}

.benefits_text_items {
  display: grid;
  grid-template-columns: 300px 300px;
  gap: 30px;
}
