@import './../../../assets/style/main.scss';

.footer_bottom {
  background-color: $color-midle;
}

.footer_bottom_container {
  max-width: 1140px;
  height: 127px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_bottom_allrights a {
  font-size: 20px;
    color: $txt-light;
    padding-right: 2px;
}

.footer_bottom_allrights a:hover {
  color: white;
}

.footer_bottom_social a:not(:last-child) {
  padding-right: 10px;
}

.footer_bottom_social a:hover > svg rect {
  fill: $color-hover;
}
